<h2>Santas children list</h2>

<ul>
  {{#each childrenList}}
    <li>
      <label>
        {{this.name}}

        <select>
          <option value=''>Empty</option>
          {{#each ../giftsList}}
            <option value='{{this.id}}' {{#if (equals this.id ../giftId)}}selected='selected'{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
      </label>
      <button>Save</button>
    </li>
  {{/each}}
</ul>

<h2>Add child to list</h2>
<form action='/child' method="post">
  <label>
    Name
    <input name='name' type='text' />
  </label>
  <button>Save</button>
</form>